@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

/* Reset */
/* Containers */
.container {
margin-left: auto;
margin-right: auto;
}


.image-container 
img {
    max-height: 100%;
	max-width: 100%;
	margin-top: 2.5px;
}


/* Basic */

@-ms-viewport {
width: device-width;
}


/* Type */

body {
background-color: #fff;
color: #111111;
}


a {
-moz-transition: color 0.2s ease-in-out;
-webkit-transition: color 0.2s ease-in-out;
-ms-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/* Box */

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
-moz-appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
appearance: none;
-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
border-radius: 0;
border: 0;
cursor: pointer;
display: inline-block;
font-size: .8em;
font-weight: 700;
height: 2em;
line-height: 3.65em;
padding: 0em  !important;
text-align: center;
text-decoration: none;
text-transform: uppercase;
white-space: nowrap;
outline: none !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
text-decoration: none;
outline: none !important;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
background-color: #ffffff;
color: #ffffff !important;
border: none;
outline:none
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
background-color: #ffffff;
border: none;
outline: none;
}

.btn-outline-success {
	background-color: #12502c!important;
	font-family: 'Roboto';
	color:  #ffffff;
	font-size: 15px;
	line-height: 10px;
	width: 100px;
	text-align: center !important;
	text-transform: none;
	outline: none !important;
	border: none !important;
}

.btn-outline-success:hover {
	background-color: rgba(31, 173, 119, 0.75) !important;
	outline: none !important;
}


/* Form */
.form-control:focus{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(31, 173, 119, 0.75)!important;
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px  rgba(31, 173, 119, 0.75)!important;
	border-color:rgba(31, 173, 119, 0.75)!important;
}


/* Icon */
/* List */
/* Section/Article */
/* Wrapper */
.wrapper {
    display: flex;
	width: 100%;
	align-items: stretch;
}

#sidebar {
    min-width: 200px;
	max-width: 200px;
	min-height: 100vh;
}

#sidebar.active {
    margin-left: -200px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
}

/* Side bar for mobile, sidebar is closed by default */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0px;
    }
}	

/* Side bar */
#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #eeeff0;
    color: #fff;
	transition: all 0.5s;
	font-family:'Roboto';
}

#sidebar .sidebar-header {
	background: #eeeff0;
	color:  #12502c;
	font-family: 'Pacifico', cursive;
	text-decoration: none;
	font-size: 18.5px;
	padding: 2.5px;
	margin-top: 2.5px;
}


#sidebar .sidebar-header:hover {
	color: rgba(31, 173, 119, 0.75);
	text-decoration: none;
	font-size: 19.5px
}

#sidebar .sidebar-header img{
	animation-name: floating2;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


#sidebar ul.components {
    padding: 2px 0;
	border-bottom: 1px solid #eeeff0;
	text-decoration: none;
}

#sidebar ul p {
    color: #fff;
    padding: 2px;
}

#sidebar ul li a {
	padding: 5.5px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: 450;
	text-decoration: none;
	display: block;
	color:  #12502c;
}


#sidebar ul li a:hover {
	color: rgba(31, 173, 119, 0.75);
	background: #eeeff0;
	text-decoration: none !important;
	font-size: 19px;
}

#sidebar ul li.active > a, a[aria-expanded="true" ] {
	background: #eeeff0;
	text-decoration: none !important;
}

#sidebar .sidebar-gifImage img{
	position: relative;
	text-decoration: none;
	vertical-align: center;
	display: inline-block;
	margin-bottom: 20px;
	width: 200px;
}

/* Header */

body {
position: relative;
padding-top: 5em;
}

#header {
background: #eeeff0;
color: #d5d5d5;
cursor: default;
height: 5em;
left: 0;
line-height: 5em;
position: fixed;
text-align: right;
top: 0;
width: 100%;
z-index: 10001;
text-decoration: none;
}


#header .searchbar {
	max-width: 35em;
	width: calc(100% - 10em);
	right: 0px;
	padding: 20px;
	text-align: center;
	position: fixed;
	display: inline-block;
	align-items: center;
	display: flex;
	color: #12502c;
}

#header .inner {
max-width: 100em;
width: calc(100% - 6em);
margin: 0 auto;
position: relative;
}

@media screen and (max-width: 480px) {

	#header .inner {
		max-width: 90%;
		width: 90%;
	}

}

#header .logo {
font-family: 'Pacifico', cursive;
display: inline-block;
height: inherit;
left: 0;
line-height: inherit;
margin: 0;
padding: 0;
position: absolute;
top: 0;
color: #12502c;
font-size: 1.75em;
text-transform: none;
font-weight: normal;
padding: 0;
}

#header .logo:hover {
	color: rgba(31, 173, 119, 0.75);
	text-decoration: none;
}

#header .logo:hover img.hoverImages{
	animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 3px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes floating2 {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 3px); }
    to   { transform: translate(0, -0px); }    
}

/* Menu */

/* Banner */

