{%extends "Nanso/base.html" %} <!-- Call the base template -->
{% block content %}
  <!-- This is a for loop for html syntax, open and close if statements-->
<div class = "wrapper-product">
  {% for product in products %}
  <div id = "product-listing">
    <div class="product-card">
      <div class = "product-pic">
        <img src="{{ product.image.url }}" />
      </div>

      {% if product.is_new <= 30 %}
        <h1 href = "#">{{ product.productCategory |linebreaks }} <img src="https://img.icons8.com/material-outlined/96/000000/new.png"/ width =28, height =25></h1>
      {% else %}
        <h1 href = "#">{{ product.productCategory |linebreaks }} </h1>
      {% endif %}

      <h2><a  href="#">{{ product.productName }}</a></h2>
      <p>{{ product.priceCurrency |linebreaks }} {{ product.productPrice |linebreaks }}</p>
      <!-- <div class = "product-description">
        <p class = "product-description">{{ product.productDescription |linebreaks }}</p>
      </div> -->
      <div class="buttons">
        <button class="btn btn-outline-success mt-3 mr-2" type="submit">Add to Cart</button>
        <button class="btn btn-outline-success mt-3" type="submit" style = "width:10%"><span>♥</span></button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
