{% extends "App01/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }} ">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
      <form method = "POST" enctype="multipart/form-data"> <!-- we need an attribute for this to save changes-->
        {% csrf_token %} <!-- Security token-->
        <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Profile Information</legend>
                <!-- {{form.as_p}}  Default styling--> 
                {{user_update_form | crispy }}
                {{profile_form | crispy }}
        </fieldset>
        
        <div class = "form-group">
            <!-- <button class = "btn btn-outline-info" type = "submit">Update</button> -->

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
              Submit
            </button>

             <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation required</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close" type="button" >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Proceed with changes?</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-outline-info ml-2" type = "submit">Yes</button>
                    <button class="btn btn-outline-info ml-2" type="button" data-dismiss="modal" >No</button>
                  </div>
                </div>
              </div>
            </div>
        </div>  
      </form>

      
    </div>
{% endblock content %}
