{%extends "App01/base.html" %} <!-- Call the base template -->
{% block content %}
 <!-- This is a for loop for html syntax, open and close if statements-->

<article class="media content-section">
  <img class="rounded-circle account-img" src="{{ userprofile.image.url}} ">
  <div class="media-body">
    <p class="account-heading col-ml-2 mb-1">{{ userprofile.user }}</p>
    <div class="article-metadata">
      <div class="card-body">
        <p>Email : {{ userprofile.user.email }}</p>
        <p>Birthdate : {{ userprofile.birthday | date:"d F,Y" }}</p>
        <p>Location : {{ userprofile.location}}</p>
        <p>{{userprofile.bio | linebreaks}}</p>
        {% if userprofile.user == user %}
        <a class = "btn btn-outline-info" href = "{% url 'profile' %}">Update Profile</a><br>
        {% endif %}
      </div>

    </div>
  </div>
</article>

{% endblock content%}
  