{%extends "App01/base.html" %} <!-- Call the base template -->
{% block content %}
 <!-- This is a for loop for html syntax, open and close if statements-->

<article class="media content-section">
  <img class="rounded-circle account-img" src="{{ userprofile.image.url}} ">
  <div class="media-body">
    <p class="account-heading col-ml-2 mb-1">{{ userprofile.user }}</p>
    <div class="article-metadata">
      <p>Email : {{ userprofile.user.email }}</p>
      <p>Birthdate : {{ userprofile.birthday | date:"d F,Y" }}</p>
      <p>Location : {{ userprofile.location}}</p>
      <p class = "mb-1">Profile Bio:</p>
      <p class="content-section ml-auto p-2">{{userprofile.bio}}</p>
    </div>

      {% if userprofile.user == user %}
      <a class = "btn btn-outline-info" href = "{% url 'profile' %}">Update Profile</a>
      {% endif %}
  </div>
</article>

{% endblock content%}
