<!-- Extend the base template and only fill in what was required-->
{%extends "App01/base.html" %} <!-- Call the base template -->
{% block content %} <!-- Open base tempates and exactly paste the content here-->
<div class= "content-section">
    <h2>About Nanso Project</h2>
    <p style="text-decoration: underline">Code Name: App-01</p>
    <p>To try out django web-based framework. Django is really complicated...</p>
    <a class ="btn btn-outline-info mb-1" href= "{% url 'App01-home' %}">Return to Homepage</a>
</div>

{% endblock content %}  